@model DentalClinic.Models.Appointment

@{
    ViewData["Title"] = "Информация о записи";
}

<div class="card text-center">
    <div class="card-header">
        Личный кабинет пациента
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" asp-controller="Client" asp-action="Index">Больничная карта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Client" asp-action="Review">Отзыв</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div>
            <h4>Запись на @Model.StartAt</h4>
            <hr />
            <center>Длительность @Model.Duration минут</center>
            <p>Тест рекомендации:</p>
            <p class="text-left">@Model.Recommendation</p>
        </div>
        <div>
            <a asp-controller="Client" asp-action="Index">Вернуться в больничную карту</a>
        </div>
    </div>
</div>
