@using DentalClinic.Models.DTO
@model DentalClinic.Models.DTO.NewProfile
@{
    ViewData["Title"] = "Панель администратора";
}

<div class="card text-center">
    <div class="card-header">
        Панель администратора
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Appointments">Приемы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" asp-controller="Admin" asp-action="Profiles">Профили</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Reviews">Отзывы</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form asp-controller="Admin" asp-action="ProfileStore">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-4">
                <label asp-for="Email" class="form-label">Электронная почта</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="Phone" class="form-label">Номер телефона</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="Password" class="form-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="ConfirmPassword" class="form-label">Повторите пароль</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="RoleTitle" class="form-label">Роль</label>
                <select class="form-select" asp-for="RoleTitle" asp-items="Html.GetEnumSelectList<RoleTitle>()">
                    
                </select>
                <span asp-validation-for="RoleTitle" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}