@{
    ViewData["Title"] = "Контакты";
}

<h4>Контакты</h4>
<div class="row mt-4">
    <div class="col-md-6">
        <h5>Адрес</h5>
        <p>г. Москва, ул. Примерная, д. 1</p>

        <h5>Телефон</h5>
        <p><a href="tel:+70000000000">+7 (000) 000-00-00</a></p>

        <h5>Режим работы</h5>
        <p>Ежедневно с 8:00 до 23:00</p>

        <h5>Электронная почта</h5>
        <p><a href="mailto:info@clinic.example">info@clinic.example</a></p>
    </div>
    <div class="col-md-6">
        <h5>Запись на приём</h5>
        <p>Вы можете записаться онлайн в разделе <a asp-controller="Home" asp-action="Schedule">Расписание</a> или позвонить нам по телефону.</p>
        <p>Мы рады принимать пациентов с 4 лет. Оплата наличными и картой. Лечение в кредит. Действуют сезонные скидки и накопительная система бонусов для постоянных пациентов.</p>
    </div>
</div>
