@{
    ViewData["Title"] = "Часто задаваемые вопросы";
}

<div id="faq">
	<h1>Часто задаваемые вопросы</h1>
	<div class="wrapper">
		<div class="faq-block">
			<div class="faq-menu">
				<div class="faq-link-quest">
					<ul>
						<li><a href="#question1">Подскажите, как не бояться стоматолога?</a></li>
						<li><a href="#question2">У вас предусмотрена стоматология семейных скидок?</a></li>
						<li><a href="#question3">Что такое стоматология в рассрочку?</a></li>
						<li><a href="#question4">Где найти стоматологию по выходным?</a></li>
						<li><a href="#question5">Есть ли гарантия на стоматологические услуги?</a></li>
						<li><a href="#question6">Скажите, возможна ли стоматология под общим наркозом?</a></li>
						<li><a href="#question7">Бывают ли у вас услуги стоматологии по низким ценам? </a></li>
					</ul>
				</div>
				<div class="clearl"></div>
			</div>
			<div class="faq-text-block">
				<h2>Общие вопросы</h2>
				<div id="question1">
					<div class="faq-item">
						<h5 class="faq-quest"><b>
							Подскажите, как не бояться стоматолога?
						</b></h5>
						<div>
							<div class="faq-reply">
								<p>Боюсь идти к стоматологу и лечить зубы, что делать?</p>
								<p>Надо сказать, что это не столько страх перед стоматологом, сколько страх боли.</p>
								<p>Для впечатлительных людей посещение зубного врача может стать не просто стрессом, а паникой и истерикой. И это касается не только детей. Многие взрослые не могут совладать с собой при виде стоматологических инструментов.</p>
								<p>Однако те пациенты, кто нашел действительно хорошего, своего стоматолога, знают, что квалифицированный специалист работает исключительно аккуратно, старательно избегает вероятности причинить боль своему пациенту.</p>
								<p>Как не бояться стоматолога? Нужно лечить зубы у врача, которому доверяешь.</p>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div id="question2">
					<div class="faq-item">
						<h5 class="faq-quest"><b>
							У вас предусмотрена стоматология семейных скидок?
						</b></h5>
						<div>
							<div class="faq-reply">
								<p>Ежемесячно мы предлагаем нашим пациентам различные акции в стоматологии: от изготовления и установки имплантов, до диагностических и гигиенических процедур. Наша стоматология предлагает скидки всем членам семьи, а также друзьям и знакомым. У нас существует бонусная карта, которая позволяет расплачиваться за оказанные услуги накопленными бонусами в любой из клиник нашей сети.</p>
								<p>Кроме того, мы регулярно предлагаем скидочные программы для лечения самых маленьких пациентов. Это могут быть как терапевтические процедуры, так и приятные подарки для детей. </p>
							</div>
							<a href="#faq">Наверх</a>
						</div>
					</div>
				</div>
				<br />
				<div id="question3">
					<div class="faq-item">
						<h5 class="faq-quest"><b>
							Что такое стоматология в рассрочку?
						</b></h5>
						<div>
							<div class="faq-reply">
								<p>Ежемесячно мы предлагаем нашим пациентам различные акции в стоматологии: от изготовления и установки имплантов, до диагностических и гигиенических процедур. </p>
								<p>Лечить зубы в рассрочку возможно! Наша стоматология предлагает скидки всем членам семьи, а также друзьям и знакомым. У нас существует бонусная карта, которая позволяет расплачиваться за оказанные услуги накопленными бонусами в любой из клиник нашей сети.</p>
								<p>Кроме того, мы регулярно предлагаем скидочные программы для лечения самых маленьких пациентов. Это могут быть как терапевтические процедуры, так и приятные подарки для детей. </p>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div id="question4">
					<div class="faq-item">
						<h5 class="faq-quest"><b>
							Где найти стоматологию по выходным?
						</b></h5>
						<div>
							<div class="faq-reply">
								<p>Наша клиника разработала максимально удобный график для своих пациентов. Все кабинеты работают с 8.00 до 23.00. Кроме того, работает стоматология по выходным и праздникам.</p>
								<p>Подобное расписание позволяет пациентам выбрать наиболее подходящее время, чтобы записаться на прием к дантисту. К тому же клиники нашей сети расположены недалеко от метро, что позволяет быстро добраться до врача.</p>
								<p>График работы стоматологии, а также адреса клиник вы можете изучить на странице контактов нашего сайта.</p>
							</div>
							<a href="#faq">Наверх</a>
						</div>
					</div>
				</div>
				<br />
				<div id="question5">
					<div class="faq-item">
						<h5 class="faq-quest"><b>
							Есть ли гарантия на стоматологические услуги?
						</b></h5>
						<div>
							<div class="faq-reply">
								<p>Договор на стоматологические услуги между врачом и пациентом заключается после осмотра, назначения лечения. В случае, если после терапии в нашей клиники у вас возникли нарекания, лечащий врач обсудит все возникшие вопросы, примет к сведению замечания и исправит ситуацию.</p>
								<p>Гарантия на зубы наших пациентов — это высокопрофессиональные специалисты, новейшее оборудование, уникальные условия сохранения здоровья и контроля качества выполненной работы. Мы постоянно совершенствуемся в стоматологической практике, чтобы наши пациенты получали только лучшее обслуживание.</p>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div id="question6">
					<div class="faq-item">
						<h5 class="faq-quest"><b>
							Скажите, возможна ли стоматология под общим наркозом?
						</b></h5>
						<div>
							<div class="faq-reply">
								<p>Для лечения под общим наркозом необходимо стационарное отделение. В нашей сети клиник лечение под наркозом не практикуется.</p>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div id="question7">
					<div class="faq-item">
						<h5 class="faq-quest"><b>
							Бывают ли у вас услуги стоматологии по низким ценам?
						</b></h5>
						<div>
							<div class="faq-reply">
								<p>Наша клиника предоставляет услуги по ценам категории эконом. Помимо этого, ежемесячно появляются новые акции и специальные предложения по выгодным ценам.</p>
							</div>
							<a href="#faq">Наверх</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>