@model List<Staff>

@{
    ViewData["Title"] = "Запись на прием";
}

<form asp-controller="Home" asp-action="ScheduleWithStaff" method="GET">
    <p>Выберите врача:</p>
    <select name="Staff" class="form-select mt-4">
        @foreach (var staff in Model)
        {
            <option value="@staff.ExternalLogin">@staff.ExternalLogin</option>
        }
    </select>
    <div class="form-group mt-4">
        <input type="submit" value="Загрузить" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}