@model List<Appointment>

@{
    ViewData["Title"] = "Запись на прием";
}

@if (Model.Count == 0)
{
    <p>Доступные приемы отстутсвуют.</p>
}
else
{
    <form asp-controller="Home" asp-action="AddAppointment" method="GET">
        <p>Выберите подходящий прием:</p>
        <select name="Appointment" class="form-select mt-4">
            @foreach (var appointment in Model)
            {
                <option value="@appointment.Id">@appointment.StartAt</option>
            }
        </select>
        <div class="form-group mt-4">
            <input type="submit" value="Записаться на прием" class="btn btn-primary" />
        </div>
    </form>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}