@model DentalClinic.Models.Review

@{
    ViewData["Title"] = "Личный кабинет пациента: отзыв";
}

<div class="card text-center">
    <div class="card-header">
        Личный кабинет пациента
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Client" asp-action="Index">Больничная карта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" asp-controller="Client" asp-action="Review">Отзыв</a>
            </li>
        </ul>
    </div>
    <div class="card-body text-center">
        <div class="row">
            <div class="col-md">
                <form asp-controller="Client" asp-action="ReviewCreate" method="post" class="mt-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Text" class="control-label">Текст отзыва</label>
                        <textarea asp-for="Text" class="form-control" rows="4">@(Model?.Text)</textarea>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    @if (Model != null && !string.IsNullOrEmpty(Model.Text))
    {
        @if (Model.IsVisible)
        {
            <form asp-controller="Client" asp-action="Hide" method="post">
                <div class="form-group mt-4 mb-4">
                    <input type="submit" value="Скрыть отзыв" class="btn btn-secondary" />
                </div>
            </form>
        }
        else
        {
            <p class="text-muted mt-3 mb-3">Отзыв отправлен на модерацию и временно скрыт.</p>
        }
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
